<web-app>
<welcome-file-list>
<welcome-file>web5.html</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>ps31</servlet-name>
<servlet-class>Logport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps31</servlet-name>
<url-pattern>/logportal</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps32</servlet-name>
<servlet-class>PortDao</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps32</servlet-name>
<url-pattern>/dao</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ps33</servlet-name>
<servlet-class>Portout1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps33</servlet-name>
<url-pattern>/portout</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ps34</servlet-name>
<servlet-class>Portprof1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps34</servlet-name>
<url-pattern>/portprof</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ps35</servlet-name>
<servlet-class>Logreg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps35</servlet-name>
<url-pattern>/preg</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ps36</servlet-name>
<servlet-class>Ques</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps36</servlet-name>
<url-pattern>/sub</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps37</servlet-name>
<servlet-class>PortDaos2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps37</servlet-name>
<url-pattern>/submit</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ps38</servlet-name>
<servlet-class>Ques2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps38</servlet-name>
<url-pattern>/sub2</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ps39</servlet-name>
<servlet-class>Ques3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps39</servlet-name>
<url-pattern>/sub3</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ps40</servlet-name>
<servlet-class>Ques4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps40</servlet-name>
<url-pattern>/sub4</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ps41</servlet-name>
<servlet-class>Ques5</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps41</servlet-name>
<url-pattern>/sub5</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps42</servlet-name>
<servlet-class>Ques6</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps42</servlet-name>
<url-pattern>/sub6</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps43</servlet-name>
<servlet-class>Ques7</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps43</servlet-name>
<url-pattern>/sub7</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps44</servlet-name>
<servlet-class>Ques8</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps44</servlet-name>
<url-pattern>/sub8</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps45</servlet-name>
<servlet-class>Ques9</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps45</servlet-name>
<url-pattern>/sub9</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps46</servlet-name>
<servlet-class>Ques10</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps46</servlet-name>
<url-pattern>/sub10</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps47</servlet-name>
<servlet-class>Ques11</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps47</servlet-name>
<url-pattern>/sub11</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps48</servlet-name>
<servlet-class>Ques12</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps48</servlet-name>
<url-pattern>/sub12</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps49</servlet-name>
<servlet-class>Ques13</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps49</servlet-name>
<url-pattern>/sub13</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps50</servlet-name>
<servlet-class>Ques14</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps50</servlet-name>
<url-pattern>/sub14</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps51</servlet-name>
<servlet-class>Ques15</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps51</servlet-name>
<url-pattern>/sub15</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps52</servlet-name>
<servlet-class>Ques16</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps52</servlet-name>
<url-pattern>/sub16</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps53</servlet-name>
<servlet-class>Ques17</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps53</servlet-name>
<url-pattern>/sub17</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ps54</servlet-name>
<servlet-class>Ques18</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps54</servlet-name>
<url-pattern>/sub18</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ps55</servlet-name>
<servlet-class>Ques19</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps55</servlet-name>
<url-pattern>/sub19</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ps56</servlet-name>
<servlet-class>Ques20</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps56</servlet-name>
<url-pattern>/sub20</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ps57</servlet-name>
<servlet-class>Ans</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ps57</servlet-name>
<url-pattern>/ans</url-pattern>
</servlet-mapping>
</web-app>